/* 
  Modal Styles
*/

.modal {
  display: none;
  z-index: 1;
  width: 1000px;
  height: 500px;
  max-width: 850px;
  min-width: 850px;
  background-color: #fefefe;
  max-height: 700px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 48%; left: 50%;
  transform: translate(-50%,-50%);
  border: #00ACFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

.modal-content {
  background-color: #fefefe;
  margin: 0 0;
  padding: 0px;
  width: 100%;
  height: 500px;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 55px;
}

.custom-image-modal {
  overflow: hidden;
  object-fit: cover;
}

.custom-image-input {
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  width: 240px;
  height: 135px;
  display: none;
}

.custom-image-label {
  cursor: pointer;
  height: 135px;
  display: inherit;
}

.gallery{
  max-width: 900px;
  height: 400px;
  padding: 0px 25px 25px 25px;
  position: relative;
  margin: 0 auto;
  overflow-y: scroll;
}

.modal-label {
  margin: 30px 0px 10px 50px;
  height: 20px;
}

/* 
  Card Styles
 */
 .card {
  display: block;
  border-radius: 5px;
  border: 0.5px solid #d9d9d9;
  min-height: 140px;
  background: white;
  position: relative;
  top: 20px;
  left: 20px;
  float: left;
  margin-right: 16px;
  margin-top: 16px;
  width: 240px;
  height: 160px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
}

.card > .card-image-container > img {
  position: relative;
  display: block;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  cursor: pointer;
  object-fit: contain;
  overflow: hidden;
}

.card-text {
  position: relative;
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 0px 0px 6px 6px;
}

.card-image-container{
  height: 135px;
  max-height: 135px;
  overflow: hidden;
}
