body {
    font: 16px sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, label {
    color: #34495e;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
    text-align: center;
}

.footer {
    color: #ffffff;
}