html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000000;
  font: 16px sans-serif;
}

.meeting-details {
  background-color: #ffffff;
  border: 1px;
  border-bottom: slategray;
  border-bottom-style: dotted;
  padding: 20px 20px 20px 20px;
}

.background {
  background-color: #ffffff;
}

.background2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*****************
  CSS Grid Styles
*****************/
.grid {
  gap: 0px 0px;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.grid-border * {
  border: 2px solid black;
  position: relative;
}

/* 3 row x 3 (content) column grid for 5-9 attendees */
/* content spans 2 rows */
.grid-3row-3col {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 180px 180px 180px;
}

/* 2 row x 2 (content) column for 3-4 attendees */
.grid-2row-2col {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  grid-template-rows: 270px 270px;
}

/* 1 row x 1 (content) column for 1-2 attendees*/
.grid-1row-2col {
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 270px 270px;
}

/* generic cell */

/* .item {
  grid-column: span 2;
  max-width: 480px;
  object-fit: contain;
  overflow: hidden;
}

.item-image {
  width: 320px;
  height: 182px;
  object-fit: cover;
} */

.cell {
  grid-column: span 2;
  max-width: 480px;
  object-fit: contain;
  overflow: hidden;
}

.cell-image {
  width: 320px;
  height: 182px;
  object-fit: cover;
}

.cell-fit {
  object-fit: contain;
  overflow: hidden;
}

/* 8-attendee grid cell 7 */
.cell8g-7 {
  grid-column: 2 / span 2;
}

/* 8-attendee grid cell 8 */
.cell8g-8 {
  grid-column: 4 / span 2;
}

/* 7-attendee grid cell 7 */
.cell7g-7 {
  grid-column: 3 / span 2;
}

/* 5-attendee grid cell 4 */
.cell5g-4 {
  grid-column: 2 / span 2;
}

/* 5-attendee grid cell 5 */
.cell5g-5 {
  grid-column: 4 / span 2;
}

/* 3-attendee grid, cell 4 */
.cell3g-3 {
  grid-column: 2 / span 2;
}

.cell2g {
  max-width: 480px;
  object-fit: contain;
  overflow: hidden;
}

/* 1-attendee grid cell 1 */
.cell1g-1 {
  grid-column: span 4;
  grid-row: span 4;
  max-width: 960px;
  object-fit: contain;
  overflow: hidden;
}

.cell1g-img {
  width: 960px;
}

/* 
  Card Styles
 */
.card {
  display: block;
  border-radius: 5px;
  border: 0.5px solid #d9d9d9;
  min-height: 140px;
  background: white;
  position: relative;
  top: 20px;
  left: 20px;
  float: left;
  margin-right: 16px;
  margin-top: 16px;
  width: 240px;
  height: 160px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
}

.card > img {
  position: relative;
  display: block;
  border-radius: 4px 4px 0px 0px;
  width: 240px;
  height: 135px;
  cursor: pointer;
  object-fit: contain;
}

.card-text {
  position: relative;
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 0px 0px 6px 6px;
}

body {
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

.footer {
  color: #ffffff;
}

#video {
  background-color: #000;
}

#staticpicture {
  display: none;
  height: 182px;
}

.hidden-custom-image {
  visibility: hidden;
}

.custom-image {
  width: 320px;
  height: 182px;
  border: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.modal-video-bucket {
  height: 135px;
  overflow: hidden;
}

.main-page-video {
  width: 320px;
  border: none;
}

.main-page-video-container {
  height: 182px;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  border: none;
}
